.container{
    height: 304px;
    width: 200px;
    justify-content: center;
    background-color : rgb(221, 83, 106);
    padding: 29px;
    align-items: center;
    border-radius: 18px;
    text-align: center;
}
.paragraph{
    color: #293038;
    font: 21px;
    font-family: 'Epilogue-Regular', sans-serif;
    margin: 0px 0px 10px;
    text-align: center;
    margin-bottom: 25px;

}
.button{
    padding: 9px 27px;
    margin-top: 60px;
    border-radius: 50px;
}