.body{
    margin: 0;
    padding: 0;
    
}
.firstsection{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}
.firstsection .bannerhead{
    text-align: center;
    border-bottom: 11px solid #fdc300;
    line-height: 45px !important;
}
.secondsection{
    background-color: black;
}
.secondsection .heading{
    color: white;
    text-align: center;
    padding-top: 20px;
}
.secondsection .heading p{
    color: yellow;
}
.secondsection .cards{
    margin: 50px;
    box-sizing: border-box;
}
.secondsection .cards .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cardmanage{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    margin: 50px;
    gap: 10px;
}